body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

body *{
    box-sizing: border-box;
}

.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    color:#FFFFFF;
    border: 1px solid #E3B873;
    outline: 0;
    padding: 12px 32px;
}

.transform-button:hover{
    background-color: transparent;
    border: 1px solid white;
}

.logo{
    text-transform: uppercase;
    color: #E3B873;
}

.header,
.footer{
    background-color: black;
}

.container{
    max-width: 1256px;
    margin: 0 auto;
}

.header-container,
.footer-container,
.team-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container{
    height: 83px;
}

.footer-container{
    height: 133px;
}

.header-navigation,
.footer-navigation{
    padding-left: 70px;
    list-style: none;
    display: flex;
}

.header-navigation_item a,
.footer-navigation_item a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 53px;
}

.header-navigation_item a:hover,
.footer-navigation_item a:hover{
    color: #E3B873;
}

.phone{
    text-decoration-line: underline;
    color: #E3B873;
}


@media (max-width:1300px){
    .container{
        width: 100%;
        padding: 0 18px;
    }

    .header-container{
        height: 57px;
    }

    .header-navigation,
    .header-button{
        display: none;
    }
}

/* ---------- */

.home{
    background-image: url('../images/first-section.jpg');
    background-size: cover;
    height: 713px;
    padding-top: 194px;
    position: relative;
}

.contacts-container,
.home-container{
    position: relative;
    z-index: 1;
}

.home-text{
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 550px;
}


.dark-substract{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    height: 100%;
}

.title{
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    max-width: 550px;
}

.subtitle{
    margin: 0;
    font-family: "Yeseva One", serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    color:#E3B873;
    text-transform: uppercase;
    width: 250px;
}

.projects-text-block-subtitle{
    font-size: 18px;
    letter-spacing: normal;
}

.attention{
    color: #E3B873;
}

.home-button-group,
.reviews-list-title-block,
.contacts-icons-block,
.image_block_button_block,
.content-item,
.measurement-logo-block,
.review-list-button{
    display: flex;
    align-items: center;
}

.home-button-group-item{
    margin-right: 20px;
    padding: 20px 44px;
}

.home-button-group > .home-button-group-item:last-child{
    padding: 20px 30px;
}

.button-span-2,
.br,
.checkbox,
.mobile_subtitle,
.reviews .image_block{
    display: none;
}


@media (max-width:1300px){    
    .home{
        padding-top: 100px;
        height: 476px;
    }

    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 375px;
    }

    .home-text{
        font-size: 14px;
        line-height: 19px;
        max-width: 339px;
        letter-spacing: 0.7px;
        margin: 25px 0 35px 0;
    }

    .title{
        max-width: 339px;
        font-size: 23px;
        line-height: 31px;
    }    
}


@media (max-width:768px){
    .home{
        padding-top: 85px;
    }

    .home-container{
        max-width: 339px;
        align-items: flex-start;
        padding: 0 0 0 20px;
    }

    .home-text{
        margin: 18px 0 52px 0;
    }

    .projects-text-block-subtitle{
        font-size: 14px;
    }

    .home-button-group{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home-button-group-item{
        width: 95%;
        margin-bottom: 26px;
    }

    .button-span-1{
        display: none;
    }

    .button-span-2{
        display: inline;
    }
}

/* ---------- */

.projects{
    box-sizing: content-box;
    height: 658px;
    background-color: #131313;
    padding-top: 94px;
    padding-bottom: 320px;
}

.projects-subtitle{
    padding-top: 81px;
    margin-bottom: 25px;
}

.projects-text{
    font-size: 14px;
    line-height: 27px;
    width: 440px;
    color: white;
    margin: 0 0 41px 0;
}

.projects-text-block-item{
    width: 100px;
    font-size: 13px;
    line-height: 21px;
    color: white;
    margin: 0 0 28px 0;
}

.projects-selector-group{
    display: flex;
    width: 260px;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 17.5px;
}

.circle:nth-of-type(1){
    background-color: white;
}

.circle:nth-of-type(3){
    margin-right: 29.5px;
}

.arrow{
    margin-right: 29.5px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 575px;
}

.projects-view-selector{
    display: flex;
    list-style: none;
    font-family: 'Yeseva One', serif;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-left: 0;
    margin: 16px 0 45px 0;
}

.image_block{
    position: relative;
}

.image_block_button_block{
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.image_block_button{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding: 0;
    margin: 14px;
}

.projects-view-selector-item{
    padding-bottom: 6px;
    border-bottom: 1px transparent solid;
    margin-right: 53.5px;
}

.projects-view-selector-item:hover,
.team-list-item:hover{
    cursor: pointer;
    color: #E3B873;
    border-bottom: 1px #E3B873 solid;
}

.projects-block{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 57px;
    width: 440px;
}

.projects-text-block{
    width: 191px;
}

.arrow:hover{
    cursor: pointer;
}


@media (max-width:1300px){
    .projects{
        padding: 0;
        height: auto;
        background-size: 0%;
    }

    .second_section_aside{
        align-items: center;
    }

    .projects-text,
    .projects-subtitle{
        text-align: center;
    }

    .projects-subtitle{
        padding-top: 36px;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.07em;
    }

    .projects-container{
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
    }

    .image_block{
        order: 1;
        margin-bottom: 36px;
    }

    .projects-view-selector,
    .projects-selector-group{
        display: none;
    }

    .image_block_button_block{
        display: flex;
    }

    .image{
        width: 100%;
    }

    .projects-block{
        order: 2;
        margin-bottom: 30px;
    }
}


@media (max-width:768px){
    .projects-text{
        width: 311px;
        font-size: 11px;
        line-height: 17px;
    }    

    .image_block{
        width: 100%;
    }    

    .projects-block{
        justify-content: center;
    }
}


@media (max-width:460px){
    .projects-text-block {
        width: 150px;
    }

    .projects-subtitle{
        width: 200px;
    }

    .projects-text-block-item{
        font-size: 11px;
        line-height: 15px;
    }

    .projects-block{
        width: 100%;
    }
}

/* ---------- */

.request{
    margin-top: -323px;
}

.request-container,
.contacts-container,
.reviews-form-container,
.reviews-container,
.request-list-object,
.dark-form{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.request-container:nth-of-type(2){
    margin-bottom: 138px;
}

.title-block-subtitle{
    text-align: center;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 15px;
    color: black;
}

.request-container:first-of-type .title-block > .title-block-subtitle{
    color: white;
}

.reviews-container .title-block-subtitle{
    letter-spacing: normal;
}

.reviews-container > .title-block > .icon{
    margin-bottom: 22px;
}

.icon,
.contacts-icons,
.video,
.player-button,
.fake,
.image_block_button,
.content-item-number,
.measurement-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    margin-bottom: 31px;
}

.line{
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    margin: 0 10px;
}

.video{
    max-width: 817px;
    position: relative;
    margin-bottom: 62.5px;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.player-button{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}


.triangle{
    padding-left: 5px;
}

.line-after-video{
    width: 55px;
    margin-bottom: 28.5px;
}

.request-text{
    text-align: center;
    width: 681px;
    font-size: 18px;
    letter-spacing: -0.08px;
    line-height: 37px;
    margin: 0 0 80px 0;
}

.form{    
    display: flex;    
    justify-content: space-around;
    align-content: space-between;
    width: 800px;
    height: 110px;
    flex-wrap: wrap;
    margin-bottom: 147px;
}

.form-block-text{
    margin: 0;
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}

.form-input{
    width: 231px;
    font-size: 14px;
    line-height: 23px;
    color: rgba(54, 54, 54, 1);
    border: none;
    outline: 0;
    border-bottom: 1px rgba(54, 54, 54, 0.3) solid;
    padding-left: 0;
    padding-bottom: 3px;
}

.form-input::placeholder{
    color: rgba(54, 54, 54, 0.7);
}

.request-form-button{
    align-self: flex-end;
    font-style: normal;
    font-size: 13px;
    padding: 17px 75px;
}

.checkbox-block{
    display: flex;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
    width: max-content;
}

.fake{
    width: 18px;
    height: 18px;
    border: 0;
    border-radius: 2px;
    background-color: #ddd;
    margin-right: 9.5px;
    cursor: pointer;
    transition: .2s;
}

.check{
    width: 10px;
    height: 8px;
    background-image: url('../images/Check.svg');
    background-size: cover;
    opacity: 0;
}

.checkbox-block:hover .fake{
    background-color: rgb(171, 171, 171);
}

.checkbox:checked + .fake{
    background-color: #E3B873;
}

.checkbox:checked + .fake .check{
    opacity: 1;
}

.request-list{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-bottom: 70px;
}

.request-list-object{
    margin-right: 30px;
}

.request-list-object:nth-last-of-type(1){
    margin-right: 0;
}

.list-image{
    position: relative;
    z-index: -1;
}

.list-subtitle{
    font-size: 18px;
    letter-spacing: 0.1px;
    color: black;
    text-transform: none;
    padding-top: 25px;
    margin-left: -14px;
}

.list{
    width: 330px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-left: 46px;
    padding-bottom: 45px;
    margin-top: -135px;
}

.list-button{
    margin-top: -40px;
    align-self: flex-start;
    margin-left: 31px;
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-size: 18px;
    padding: 17px 18.5px;
}


@media (max-width:1300px){
    .request-substract{
        background: #131313;
        margin-top: -1px;
    }

    .request{
        margin-top: 0;
    }

    .request-container{
        width: 100%;
        padding: 0 18px;
    }

    .request-container:nth-of-type(2){
        padding-top: 77px;
        margin-bottom: 0;
    }

    .title-block-subtitle{
        font-size: 22px;
        letter-spacing: normal;
    }

    .video{
        width: 100%;
        margin-bottom: 28px;
    }
    
    .line-after-video{
        margin-bottom: 10px;
    }

    .request-text{
        color: white;
        margin-bottom: -10px;
    }

    .form{
        width: 408px;
        justify-content: space-between;
        margin-bottom: 258px;
    }

    .form-block{
        width: 100%;
    }

    .form-input{
        width: 100%;
        background-color: transparent;
        border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
        color: white;
    }

    .form-input::placeholder{
        color: rgba(255, 255, 255, 0.7);
    }

    .form-block-text{
        color: rgba(255, 255, 255, 0.5);
    }

    .request-form-button{
        width: 100%;
        order: 1;
    }

    .checkbox-block,
    .request .form > .form-block:first-child{
        margin-bottom: 63px;
    }

    .request .form > .form-block:nth-child(1){
        margin-top: 80px;
    }

    .request .form > .form-block:nth-child(2){
        margin-bottom: 26px;
    }

    .checkbox-block{
        color: white;
    }

    .team,
    .measurement{
        display: none;
    }

    .request-list{
        flex-direction: column;
        width: max-content;
        margin-bottom: 0;
    }

    .request-list-object{
        align-items: flex-start;
        margin: 0 0 59px 0;
    }

    .request-list-object:last-child{
        margin-bottom: 55px;
    }

    .list-button{
        margin-left: 0;
    }
}


@media (max-width:768px){
    .player-button{
        width: 11.25%;
        height: 21.25%;
        padding: 0;
    }

    .triangle{
        width: 35%;
        height: 35%;
        padding-left: 0;
    }

    .line-after-video{
        margin-bottom: 15px;
    }

    .request-text{
        font-size: 11px;
        line-height: 19px;
        width: 340px;
    }
    
    .list{
        line-height: 22px;
    }

    .list-button{
        font-size: 15px;
    }
}


@media (max-width:440px){
    .form{
        width: 349px;
    }
}

/* ---------- */

.measurement-substrate{
    padding-top: 20px;
    background-image: url('../images/fourth_section_background.jpg');
    background-repeat: no-repeat;
    background-position: -18px -38px;
}

.measurement-container{
    display: flex;
    justify-content: space-around;    
}

.measurement-content-block{
    margin-left: 135px;
    margin-right: 225px;
}

.content-item-text{
    width: 320px;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.content-item-number{
    box-sizing: content-box;
    width: 42px;
    height: 42px;
    font-size: 18px;
    font-family: 'Yeseva One', serif;
    color: white;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    background-color: #E3B873;
    margin-right: 6px;
}

.content-item{
    margin-bottom: 83px;
}

.measurement .dark-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dark-form{
    width: 506px;
    height: 509px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 38px;
    padding: 28px 49px;
}

.measurement-logo-block{
    padding-left: 33px;
}

.measurement-logo{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    margin-right: 25px;
}

.measurement-logo-text{
    width: 230px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.dark-form-button{
    align-self: flex-end;
    font-style: normal;
    font-size: 13px;
    padding: 18px 22px;
}

.dark-form-subtitle{
    width: 270px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 38px 0;
}

.measurement .checkbox-block{
    align-self: flex-start;
}

.checkbox-span{
    width: 240px;
    color: white;
}

.dark-form-text{
    color: rgba(255, 255, 255, 0.5);
}

.dark-form-input{
    width: 408px;
    background-color: transparent;
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
    color: white;
    padding: 3px 0;
}

.dark-form-input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.measurement .dark-form-container{
    margin-bottom: 53px;
}

.measurement .dark-form-container:nth-last-of-type(1){
    margin-bottom: 16px;
}

.measurement .checkbox-block{
    margin-bottom: 5px;
}

.measurement{
    margin-bottom: 242px;
}

.team{
    height: 864px;
    background-image: url('../images/fifth_section.jpg');
    background-size: cover;
    position: relative;
    margin-bottom: 110px;
}

.team-container{
    height: 100%;
    position: relative;
    z-index: 1;
}

.team-list-block{
    padding-top: 73px;
    padding-left: 10px;
    margin-right: 163px;
}

.team .title{
    width: 280px;
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    margin-bottom: 47px;
}

.team-list{
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: white;
}

.team-list-item{
    padding-bottom: 5px;
    border-bottom: 1px transparent solid;
    width: max-content;
    margin-bottom: 29px;
}

.item-gallery{
    width: min-content;
}

.item-gallery .item-gallery-image:first-child{
    margin-bottom: 31px;
}

.team-container .item-gallery:nth-child(3){
    align-self: flex-end;
    margin-bottom: 39px;
}

.reviews-container{
    margin-bottom: 50px;
}

.reviews-container-text{
    text-align: center;
    width: 370px;
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    margin: 0 0 50px 0;
}

.reviews-list-block{
    display: flex;
}

.reviews-list{
    width: 376px;
    height: 422px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 13px 20px;
    margin-right: 54px;
}

.reviews-list-block > .reviews-list:last-child{
    margin-right: 0;
}

.photo{
    border-radius: 50%;
}

.reviews-list-title-block > .subtitle{    
    font-size: 18px;
    line-height: 23px;
    color: black;
    text-transform: none;
    letter-spacing: 0.1px;
    padding-left: 23px;
    width: 200px;
}

.reviews-list-title-block{
    margin-bottom: 18.5px;
}

.review-list-text{
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.17px;
    color: #959595;
    margin: 0 0 8px 0;
}

.review-list-button{
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 12px;
    margin: 68px 0 0 -20px;
    border: none;
}

.button-line{
    width: 1px;
    height: 54px;
    background-color: white;    
}

.button-text{
    margin: 0 14px 0 15px;
}

.review-list-button > .button-icon:nth-child(4){
    margin-left: 17px;
}

.reviews-background{
    display: flex;
    height: 354px;
    position: relative;
}

.reviews-substract{
    width: 50%;
    height: 100%;
    background-image: url('../images/sixth_section_background.jpg');
    background-position-x: 51px;
    background-position-y: 354px;
}

.reviews-substract:nth-child(2){
   transform: scale(-1, 1); 
}

.ligth-background{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
}

.reviews-form-container{
    margin-top: -240px;
    position: relative;
    z-index: 2;
}

.reviews .dark-form-subtitle{
    color: white;
    letter-spacing: normal;
    margin-bottom: 47px;
}

.dark-form-subcontainer{
    display: flex;
}

.reviews .dark-form{
    width: 883px;
    height: 445px;
    padding: 34px 0;
}

.reviews .dark-form-input{
    width: 516px;
}

.reviews .dark-form-container{
    margin-bottom: 48px;
}

.dark-form-subcontainer .dark-form-input{
    width: 231px;
    margin-right: 58px;
}

.dark-form-subcontainer > .dark-form-container:last-child > .dark-form-input{
    margin-right: 0;
}

.reviews .checkbox-block{
    margin: 0 15px 23px 0;
}

.reviews .dark-form-button{
    align-self: center;
    padding: 15px 75px;
}


@media (max-width:1300px){
    .footer,
    .reviews .title-block,
    .reviews-container-text,
    .reviews-background,
    .reviews-list-block{
        display: none;
    }

    .mobile_subtitle,
    .reviews .image_block{
        display: block;
        z-index: 3;
    }

    .mobile_subtitle{
        font-size: 22px;
        line-height: 30px;
        letter-spacing: normal;
        text-align: center;
        margin-bottom: 30px;
    }

    .reviews-container > .image_block{
        max-width: 340px;
    }

    .reviews-form-container{
        margin: -210px 0 0 0;
        padding: 0;
    }

    .reviews .dark-form{
        padding: 150px 18px 0 18px;
        height: auto;
        width: 100%;
        margin-bottom: 0;
    }

    .reviews .dark-form-subtitle{
        width: auto;
    }
}


@media (max-width:768px){
    .reviews .dark-form{
        align-items: normal;
    }

    .dark-form-subcontainer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .reviews .dark-form-container{
        width: 100%;
        margin: 0;
    }

    .reviews .dark-form-input{
        width: 100%;
        margin: 0 0 63px 0;
    }

    .reviews .dark-form > .dark-form-container > .dark-form-input{
        margin-bottom: 23px;
    }

    .reviews .dark-form-subtitle{
        font-size: 20px;
        margin-bottom: 52px;
    }

    .reviews .checkbox-span{
        width: auto;
    }

    .reviews .dark-form-button{
        width: 100%;
    }

    .reviews .checkbox-block{
        margin-bottom: 67px;
    }
}

/* ---------- */

.contacts{
    height: 954px;
    position: relative;
    background-image: url('../images/seventh_section_background.jpg');
    background-size: cover;
    margin-top: -260px;
}

.contacts-container{
    padding-top: 270px;
}

.contacts .title{
    font-size: 20px;
    line-height: 28px;
    color: #E3B873;
    text-align: center;
    margin-bottom: 24px;
}

.contacts-icons{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E3B873;
    margin: 0 15px 43px 0;
}

.contacts-icons:last-child{
    margin-right: 0;
}


@media (max-width:1300px){
    .contacts{
        background-image: none;
        background-color: #131313;
        height: auto;
    }

    .contacts .dark-substract{
        display: none;
    }

    .contacts .image{
        min-width: 340px;
        min-height: 255px;
        object-fit: cover;
        margin: 50px 0;
        order: -1;
    }

    .contacts .title{
        font-size: 18px;
        width: 330px;
    }

    .br{
        display: inline;
    }
}